<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <meta http-equiv="Page-Enter" content="blendtrans(duration=1.0,transition=8)">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="underConstruction">
        <h1><%= title %> :: site is under construction</h1>
    </div>
    <div class="underConstruction">
        <img src="/images/under-construction.gif">
    </div>

  </body>
</html>
